@model Projeto.Web.Models.BibliotecaModelCadastro

<div class="modal fade" id="modalCadastroBiblioteca" tabindex="-1" role="dialog" aria-labelledby="modalCadastroBibliotecaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCadastroBibliotecaLabel">Nova Biblioteca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            @using (Html.BeginForm("CadastrarBibliotecaAjax", "Biblioteca", FormMethod.Post, new { @id = "formCadastroBiblioteca", @class = "ajax-form" }))
            {
                <div class="modal-body">
                    <div id="mensagemModal" class="alert" style="display: none;"></div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Nome, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @placeholder = "Digite o nome da biblioteca" })
                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="botao" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="botao" id="btnSalvarBiblioteca">
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        Salvar
                    </button>
                </div>
            }
        </div>
    </div>
</div>