@model Projeto.Web.Models.BibliotecaModelCadastro

<div class="side-nav">
    <h2 class="side-nav-title">Minhas Listas</h2>
    <br />
    <div class="mb-3" style="text-align:center">
        <button class="botao" data-bs-toggle="modal" data-bs-target="#modalCadastroBiblioteca">
            <i class="fas fa-plus"></i> + Nova Biblioteca
        </button>
    </div>
    <br />
    <div id="lista-bibliotecas">
        @{ Html.RenderAction("ConsultarBibliotecas", "Biblioteca"); }
    </div>
</div>
<div>
    @Html.Partial("_ModalCadastroBiblioteca", new Projeto.Web.Models.BibliotecaModelCadastro())
</div>