<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto Cadastro de Entretenimento</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/LoginCadastro.css" rel="stylesheet" />
</head>
<body>
    <div class="well">
        <h2>Projeto de Cadastro de Livros</h2>
        @RenderSection("subtitulo", required: false)
    </div>
    @RenderBody()

    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>